.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}
.cart__header {
  border-bottom: 0.1rem #c0c0c0 solid;
}

.cart__list--items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}
.cart__list--items li {
  display: flex;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.cart__list--items li div {
  padding: 0.5rem;
}
.cart__list--items li div:last-child {
  flex: 1;
}
.cart__list--itemsImage img {
  width: 8rem;
}
.right {
  text-align: right;
}
.btn-danger {
  background-color: red;
}
.cart {
  display: flex;
  justify-content: space-between;
}
.total__price {
  font-size: 2rem;
  font-weight: bolder;
  flex: 1;
  margin-right: 2rem;
}
.total {
  display: flex;
  width: 100%;
  align-items: center;
}
.total > div {
  flex: 1;
}
.total > div > button {
  flex: 1;
}

/* form  */
.cart__form {
  background-image: linear-gradient(
    to right bottom,
    #f857a6,
    #ff5858,
    #f27121
  ) !important;
  box-shadow: -1px 2px 20px -4px rgba(0, 0, 0, 0.5);
}
.form__container {
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.form__container li {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  padding: 1rem;
}
.btn.btn-success {
  background-color: #5cb85c;
}
.btn.btn-info {
  background-color: #5bc0de;
}
input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
}
