.products {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.products > li {
  flex: 0 1 29rem;
  padding: 1rem;
  width: 35rem;
  margin: 0.8rem;
  height: 47rem;
  border-bottom: 2px solid #c0c0c0;
  border-radius: 6px;
  width: 100%;
}
.products > li:hover {
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.6);
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product img {
  width: 30rem;
  height: 35rem;
  object-fit: contain;
}
.product p {
  text-align: center;
}
.product__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__info .product__price,
.product__info button {
  text-align: center;
  flex: 1;
}

.product__info .product__price {
  font-size: 2rem;
  font-weight: bold;
}
.btn {
  padding: 1rem;
  border: 0.1rem solid #c0c0c0;
  background-color: #f0f0f0;
  cursor: pointer;
}
.btn:hover {
  border: 0.1rem solid #808080;
}
.btn-primary {
  background-color: #f0c040;
}
.Modal {
  background-color: pink;
  height: 50%;
}
.ReactModal__Content {
  background-image: linear-gradient(
    to right bottom,
    #f857a6,
    #ff5858,
    #f27121
  ) !important;
}
.ReactModal__Content::-webkit-scrollbar {
  display: none;
}
.ReactModal__Overlay {
  background-color: rgba(172, 30, 160, 0.363) !important;
}
.product__modal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 97vh;
  margin-top: 3rem;
}
.product__modal--image img {
  object-fit: contain;
  height: 50rem;
  width: 46rem;
  margin: 0 auto;
  box-shadow: -1px 2px 20px -5px rgba(0, 0, 0, 0.753);
}

.product__details--info {
  flex: 1 1;
  margin: 1rem;
}
.close__modal {
  position: absolute;
  top: 1rem;
  left: 1rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  transition: all 0.4s;
  outline: none;
  z-index: 99999;
  background-color: red;
}
.close__modal:hover {
  color: black;
  cursor: pointer;
}
