html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background-image: linear-gradient(
    to right bottom,
    #f857a50e,
    #ff585828,
    #f2712118
  ) !important;
}
body,
input,
select,
textarea,
button {
  font-size: 1.6rem;
  font-family: cursive;
}
